.settings-link {
  text-decoration: none !important;
  color: #4f5d73 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  color: black;
  background-color: #EA4D2681 !important;
}
.c-sidebar-nav-dropdown-toggle:hover {
  background-color: transparent !important;
}

/* ---------------------Appbar-------------------------- */
.c-header {
  background-color: #3054A0;
  border-color: transparent;
  position: relative;
}
.breadcrumb-item,
.breadcrumb-item a {
  color: white !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}
.c-header-toggler-icon {
  filter: brightness(5) invert(1) !important;
  width: 20px;
}
.roleSelect {
  position: absolute;
  width: 15vw;
  right: 12%;
}

/* .white-background{
  background-color: white !important;
} */
