.c-sidebar {
  color: #fff;
  background: #3054A0;
  box-shadow: 7px 0px 0px 0px #EA4D26;
}

.c-sidebar-nav-link:hover {
  background-color: #EA4D26 !important;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #fff;
  background: #EA4D26;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background: #EA4D26 !important;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: #fff;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav > .c-sidebar-nav-dropdown > .c-sidebar-nav-dropdown-items {
  background: #3054A0;
}
.c-sidebar-brand-full{
  background-color: #fff !important;
}

.c-sidebar-brand-minimized{
  background-color: #fff !important;
}