.inputFocus:focus {
  border: 2px solid #EA4D26;
  box-shadow: 0 0 10px #8fe8f1a6;
}

/* .c-body {
  background-color: white;
} */

h1,
h2,
h3,
h4,
h5 {
  color: #2d2d2d;
  font-weight: bold;
}

.userProfileCardHeaderFont {
  font-size: 15px;
  /* color: #161616; */
}

.userProfile-p-dark{
  font-size: 15px;
  color: #2d2d2d;
}

.userProfile-p-light{
  color: #727272;
}



