.buttonPosition {
  float: right;
}

.customPadding {
  margin-right: 8px;
}

.action-Padding {
  padding-left: 1.7rem !important;
}

.users-main {
  position: relative;
}

.users-Alert {
  top: -8px;
  right: -85%;
  width: 200px;
}

.password-icon {
  position: absolute;
  top: 38px;
  right: 25px;
  cursor: pointer;
}

.table-hover tbody tr:hover {
  color: #3c4b64;
  background-color: lightgray;
}

.userTable thead {
  background-color: #EA4D26;
  color: white;
  font-style: normal;
  height: 3.5rem;
  position: sticky;
  top: 0;
}
.form-control1 {
  display: block;
  width: 100%;
  /* height: 101%; */
  height: calc(3.5em + 2.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #768192;
  background-color: #fff;
  border-color: #d8dbe0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.userTable th{
  font-weight: normal;
}
.userTable tbody{
  background-color: white;
}

.userTable td {
  padding: 0.13rem !important;
  border-top: 0.5px solid;
  border-top-color: #d8dbe0 ;
  
}

.addButton {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.03);
}

.editButton {
  background-color: white;
  border-radius: 0;
  border-radius: 50% 0 0 50%;
  border-top: 1px solid rgba(199, 191, 191, 0.411);
  border-left: 1px solid rgba(199, 191, 191, 0.411);
}

.deleteButton {
  background-color: white;
  border-radius: 0;
  border-radius: 0 50% 50% 0;
  border-top: 1px solid rgba(199, 191, 191, 0.411);
  border-right: 1px solid rgba(199, 191, 191, 0.411);
}

.btn:focus {
  border-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}

.btn:not(:disabled):not(.disabled):active,
.show>.btn.dropdown-toggle {
  color: black;
  border-color: transparent !important;
}

.editIcon:hover,
.deleteIcon:hover {
  transform: scale(1.1);
}

.shadow.deleteShadow {
  box-shadow: 0 0.1rem rgb(0 0 21 / 15%) !important;
}

.userFilter{
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  margin-left: 0.2rem;
  padding: 0;
  padding-left: 2rem;
}

.form-control.userFilter:focus{
  background: transparent;
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid #EA4D26;
  border-radius: 0;
  padding: 0; 
  padding-left: 2rem;
}

.searchIcon{
  position: absolute;
  top: 1rem;
}

.maxWidth > .table-responsive, .form-responsive{
  /* HARI */
  max-height: 31rem; 
  min-height: 31rem;
}

.submitBtn {
  background-color: #198f2d;
  color: white;
  margin-right: 0.5rem;
}

.submitBtn:hover {
  color: white;
}

.submitBtn.disabled:hover {
  cursor: not-allowed;
  color: white;
}

.submitBtn.disabled {
  pointer-events: unset;
  padding: 0.375rem 0.75rem !important;
}

.disabled-btn {
  background: rgba(#EA4D26, 0.9);
  cursor: not-allowed;
}

.inputError {
  border: 2px solid red !important;
  border-radius: 0;
}

.inputError:focus {
  border: 2px solid red !important;
  box-shadow: 0 0 10px rgba(228, 17, 17, 0.247);
  border-radius: 0;
}

.inputUser:focus{
  border: 2px solid #EA4D26;
  box-shadow: 0 0 10px #8fe8f1a6;
  border-radius: 0;
}

.inputUser{
  background-color: rgba(128, 128, 128, 0.082);
  border-color: rgba(128, 128, 128, 0.082);
  border-radius: 0;
}

/* =====Multiselect input===== */

.css-yk16xz-control{
  border-radius: 0 !important;
  height: 35px;
  background-color: rgba(128, 128, 128, 0) !important;
  border-color: rgba(128, 128, 128, 0) !important;
}

.css-1pahdxg-control:focus-within {
  border: 2px solid #EA4D26;
  box-shadow: 0 0 10px #8fe8f1a6;
  border-radius: 0;
  border-color: #EA4D26 !important;
}

/* .css-26l3qy-menu option:hover{
  background-color: #EA4D26 !important;
  color: white !important;
} */

/* ====Card==== */

.userCard{
  margin-top: 2.1rem;
  border-radius: 0;
  box-shadow: 0.5px 0.5px rgba(211, 211, 211, 0.979);
  max-height: 28rem;
  overflow-y: scroll;
}

.userCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EA4D26;
  color: white;
  padding: 0.8rem;
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* -------------Modify Scroll Bar------------- */
::-webkit-scrollbar{
  width:3px;
}
::-webkit-scrollbar-thumb{
  background-color: #6c7b7c60;
}

.userIcon{
  text-align: center;
  padding: 30px;
}
/* -------------no data image------------- */
.imageNoData{
  width: 40%;
}