.wrapper-class {
  border: 1px solid #ccc;
  max-height: 43.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.editor-class {
  background-color: white;
  padding: 1rem;
  height: 60rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  border: 1px solid #ccc;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  margin-bottom: 0;
}
